<body class="e">
<div class="container" >
    <div class="row">
        <div class="col-md-7">
            <h1>{{single[0].title}}</h1>

            
            <img src="assets\images\{{single[0].img1}}"height="500px" width="400px">
            
        </div>
        <div class="col"><br><br>
            <h5>{{single[0].desc1}}</h5>
            
            

            <!-- <img src="assets\images\{{single[0].img}}" height="500px" width="400px" alt=""> -->
        </div>
        <p>{{ single[0].details1 }}</p>
       

    </div>
</div><br>
    <div class="w">
    <button class="c"><a href="booking" id="r">Book Now</a></button>
</div><br>
</body>

