<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/images/comic5.jpg" class="d-block w-100" height="700" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>"If there's nothing but what we make in this world, brothers... let us make good." </p>
        <p>By Beta Ray Bill</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/spy1.jpg" height="700" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>"We're not just our failures. As much as they hurt, we learn from them. Then we go out there and do our best to make up for them — Even though we never will. We save people. We save as many as we can to make up for the ones we couldn't. That's all we do."</p>
        <p>BY Spider-Man</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/h2.jpg" height="700" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>A victory has more meaning when it is won by the force of your own arms, the ingenuity of your own brain!"</p>
        <p>BY Thor</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
&nbsp;
&nbsp;&nbsp;

<div class="container">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>  
  </div>
  
  <div id="h2" class="text-box">
    <span class="text">Comic Hub</span>
    <span class="text"></span>
  </div>